
<form class="new_feed" id="new_feed" method="post">
  <input type="hidden" name="challenge_id" value="<%=@challenge_id%>"></input>
  <textarea id="feed_text" cols="80" rows="8" name="feed_text"></textarea>
  <br/>
  <input type="image" src="/assets/post_button.png" value="Submit" name="Submit" alt="Submit"/>
</form>